@import "./../../style/theme";

.navbar {
    background: color(white);
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1000;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: color(black);
        font-size: 1.2em;

        span {
            color: color(orange);
        }
    }

    nav {
        display: none;
    }

    nav {
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: color(b2);
        height: 100vh;
        padding: 1em;

        ul.primary-nav {
            margin-top: 5em;
        }

        li {
            a {
                color: color(white);
                text-decoration: none;
                display: block;
                padding: 0.5em;
                font-size: 1.3em;
                text-align: right;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    nav.menu-btn {
        display: block;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

.mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

.isActive {
    display: block !important;
}

@media only screen and (min-width: 768px) {
    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: color(black) !important;
            font-size: 1em !important;
            padding: 0.1em 1em !important;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li.go-premium-cta a {
            color: color(orange) !important;
            border: 3px solid color(orange);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -0.2em;

            &:hover {
                background: color(orange);
                color: color(white)!important;
            }
        }
    }
}
