@import "style/theme";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: color(f2);
  margin: 0;
  font-family: "Poppins";
  min-width: 375px;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid color(gray);
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: color(orange);
  color: color(white);
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

/* iframe {
  width: 100%;
  border: none;
  height: 300px;
}

@media only screen and (min-width: 1080px) {
  iframe {
    height: 100%;
  }
} */
